@font-face {  /*подключение шрифта*/
	font-family: "VAG Rounded";
	src: url("../fonts/VAGRounded-Black.otf") format('truetype');
	src: url("../fonts/VAGRounded Lt Normal.ttf") format('truetype');
	font-display: swap;
}

//font-family: "VAG Rounded", sans-serif;